div.each-comment {
  display: flex;
  
  div.user-circle {
    background-color: #c2185b;
    border-radius: 100%;
    height: 42px;
    width: 42px;
    margin-right: 16px;

    span {
      color: #ffffff;
      font-size: 24px;
      position: relative;
      top: 8px;
      left: 14px;
    }
  }

  div.comment-details {
    font-size: 14px;
    div.row-1 {
      margin-bottom: 6px;
      span:first-child {
        font-weight: bold;
      }
      span:last-child {
        color: #616161;
        padding-left: 5px;
      }
    }
  }

  div.row-3 {
    color: #909090;
    margin-top: 14px;
    .thumbs-up {
      cursor: pointer;
    }
    .thumbs-down {
      cursor: pointer;
      padding-right: 16px;
      transform: scaleX(-1);
    }
    button.reply {
      color: #606060;
      padding-left: 20px;
    }
  }

  button.replies {
    display: none;
    color: #0a5ed4;
    font-size: 14px;
    margin-top: 14px;
    padding-left: 0;
    .caret {
      padding-right: 10px;
    }
  }
  button.replies.show {
    display: block;
  }
}

div.comment-replies {
  display: none;
  ul.comments-index > div.each-comment{
    margin-top: 14px;
    div.user-circle {
      height: 25px;
      width: 25px;
      span {
        font-size: 14px;
        top: 3px;
        left: 9px;
      }
    }
  } 
} 

div.comment-replies.show {
  display: block;
}