@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

section.top-nav {
  background-color: #ffffff;
  // is this position fixed or sticky?
  position: fixed;
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div.left {
    margin-left: 18px;
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    
    button {
      margin-right: 18px;
      
      .bars {
        color: #606060;
        font-size: 18px;
      }
    }

    button.logo {
      .youtube {
        color: #ff0000;
        font-size: 24px;
      }

      span {
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        padding-left: 2px;
        position: relative;
        bottom: 1px;
      }
    }

  }

  form.search {
    height: 32px;
    width: 640px;
    display: flex;
    
    input {
      border-top: 1px solid #cecece;
      border-left: 1px solid #cecece;
      border-bottom: 1px solid #cecece;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      font-size: 16px;
      height: 30px;
      width: 575px;
      padding: 0;
      padding-left: 14px;
    }

    input:focus {
      border: 1px solid #2166bb;
    }

    input::placeholder {
      color: #7d7d7d;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 16px;
      font-weight: 300;
    }
    
    button:hover {
      background-color: #f0f0f0;
      border-color: #c8c8c8;
      .search {
        color: #333333;
      }
    }

    button {
      background-color: #f8f8f8;
      border: 1px solid #dbdbdb;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      height: 100%;
      width: 65px;

      .search {
        color: #999999;
        font-size: 14px;
      }
    }
  }
  
  button.signin {
    border: 1px solid #065fd4;
    border-radius: 2px;
    color: #065fd4;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    height: 40px;
    width: 105px;
    margin-right: 18px;

    .user-circle {
      font-size: 24px;
      position: relative;
      left: -4px;
    }

    span {
      position: relative;
      bottom: 4px;
      left: 2px;
    }
  }
}
