@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

section.top-nav {
  background-color: #ffffff;
  position: fixed;
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;

  div.left {
    margin-left: 22px;
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    
    button {
      margin-right: 18px;
      
      .bars {
        color: #606060;
        font-size: 18px;
      }
    }

    button.logo {
      .youtube {
        color: #ff0000;
        font-size: 24px;
      }

      span {
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        padding-left: 2px;
        position: relative;
        bottom: 1px;
      }
    }

  }

  form.search {
    height: 32px;
    width: 640px;
    display: flex;
    
    input {
      border-top: 1px solid #cecece;
      border-left: 1px solid #cecece;
      border-bottom: 1px solid #cecece;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      box-sizing: border-box;
      font-size: 16px;
      height: 32px;
      width: 575px;
      padding: 0;
      padding-left: 14px;
    }

    input:focus {
      border: 2px solid #2166bb;
    }

    input::placeholder {
      color: #7d7d7d;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 16px;
      font-weight: 300;
    }
    
    button:hover {
      background-color: #f0f0f0;
      border-color: #c8c8c8;
      .search {
        color: #333333;
      }
    }

    button {
      background-color: #f8f8f8;
      border: 1px solid #dbdbdb;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      height: 100%;
      width: 65px;

      .search {
        color: #999999;
        font-size: 14px;
      }
    }
  }
  
  
  div.right {
    height: 100%;
    display: flex;
    align-items: center;

    .upload {
      color: #606060;
      cursor: pointer;
      font-size: 18px;
      position: relative;
      margin-right: 20px;

      .plus {
        color: #ffffff;
        font-size: 12px;
        position: absolute;
        left: 2px;
        top: 4px;
      }
    }

    button.user-circle {
      background-color: #c2185b;
      border-radius: 100%;
      height: 35px;
      width: 35px;
      margin-right: 32px;
      
      span {
        color: white;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    }
  }
}

button.signin {
  border: 1px solid #065fd4;
  border-radius: 2px;
  color: #065fd4;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  height: 40px;
  width: 105px;
  margin-right: 18px;

  .user-circle {
    font-size: 24px;
    position: relative;
    left: -4px;
  }

  span {
    position: relative;
    bottom: 4px;
    left: 2px;
  }
}
