@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

section.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form.signup {
    border: 1px solid #dcdee1;
    border-radius: 10px;
    height: 500px;
    width: 448px;

    div.form-contents {
      margin: 40px;

      div.header {
        p {
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          font-weight: 500;
        }
        p:last-child {
          display: block;
          font-size: 14px;
          font-weight: 400;
          padding: 10px 0 25px 0;
        }
      }
    }

    div.main {
      div.row-1, div.row-3 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        div {
          height: 36px;
          width: 176px;
          position: relative;

          input {
            border: 1px solid rgb(218, 220, 224);
            border-radius: 4px;
            box-sizing: border-box;
            height: 36px;
            width: 176px;
            padding-left: 12px;
          }

          input:focus {
            border: 2px solid #1a73e7;
          }

          input:focus + span {
            background-color: white;
            color: #1a73e7;
            font-size: 10px;
            bottom: 26px;
            transition: font-size 250ms, bottom 250ms;
          }

          input.error {
            border: 2px solid #d93025;
          }

          input.error:focus + span {
            background-color: white;
            color: #d93025;
            font-size: 10px;
            bottom: 26px;
            transition: font-size 250ms, bottom 250ms;
          }
        }
      }

      div.email {
        height: 36px;
        width: 366px;
        margin-bottom: 24px;
        position: relative;

        input {
          border: 1px solid rgb(218, 220, 224);
          box-sizing: border-box;
          border-radius: 4px;
          height: 36px;
          width: 368px;
          padding-left: 12px;
        }

        input:focus {
          border: 2px solid #1a73e7;
        }

        input:focus + span {
          background-color: white;
          color: #1a73e7;
          font-size: 10px;
          bottom: 26px;
          transition: font-size 250ms, bottom 250ms;
        }

        input.error {
          border: 2px solid #d93025;
        }

        input.error:focus + span {
          background-color: white;
          color: #d93025;
          font-size: 10px;
          bottom: 26px;
          transition: font-size 250ms, bottom 250ms;
        }
      }

      span {
        color: #616469;
        display: block;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        position: absolute;
        bottom: 6px;
        left: 10px;
        pointer-events: none;
        padding: 4px;
        transition: font-size 250ms, bottom 250ms;
      }

      span.stay {
        background-color: white;
        color: #75787c;
        font-size: 10px;
        bottom: 26px;
      }

      div.name-errors, div.pw-errors {
        display: flex;
        justify-content: space-between;
        
        span {
          margin-top: -12px;
          width: 176px;
          padding: 0;
        }
      }

      div.email-errors {
        span {
          margin-top: -12px;
          width: 100%;
          padding: 0;
        }
      }

      span.fname-error, span.lname-error, span.email-error, span.password-error,
      span.confirm-error {
        visibility: hidden;
        color: #d93025;
        font-size: 12px;
        position: relative;
        left: 0;
        pointer-events: auto;

        .exclamation-circle {
          padding-right: 8px;
          font-size: 14px;
        }
        span {
          color: #d93025;
          font-size: 12px;
          width: 150px;
          position: relative;
          left: 24px;
          top: -2px;
        }
      }
      
      span.show {
        visibility: visible;
        display: block;
        color: #d93025;
        font-size: 12px;
        position: relative;
        left: 0;
        margin: 10px 0;
        pointer-events: auto;

        .exclamation-circle {
          padding-right: 8px;
          font-size: 14px;
        }
        span {
          color: #d93025;
          font-size: 12px;
          width: 150px;
          position: relative;
          left: 24px;
          top: -2px;
        }
      }

      p {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
      }

      p.hidden {
        display: none;
      }

      div.btns {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        div.login {
          border-radius: 2px;
          color: #2579e9;
          display: table-cell;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 15px;
          font-weight: 500;
          height: 36px;
          width: 130px;
          vertical-align: middle;
          text-align: center;
        }
  
        div.login:hover {
          background-color: #f6fafe;
        }

        button.next {
          background-color: #1a73e7;
          border-radius: 4px;
          color: #ffffff;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 15px;
          font-weight: 500;
          height: 36px;
          width: 90px;
        }

        button.next:hover {
          background-color: #1a65c8;
        }
      }
    }

  }
}