section.splash {
  display: flex;
  font-family: sans-serif;
  height: 100%;
  width: 100%;

  section.left-nav {
    background-color: #ffffff;
    height: 100%;
    width: 240px;
    position: fixed;
    top: 58px;

    ul {
      li:first-child {
        margin-top: 14px;
      }
      li {
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;

        .icon {
          color: #606060;
          font-size: 18px;
          margin-left: 25px;
        } 
        .icon.trending {
          padding-left: 2px;
        }
        .trending + span {
          padding-left: 30px;
        }

        .icon.cloud {
          font-size:16px;
        }
        .icon.cloud + span {
          padding-left: 26px;
        }
        .icon.home + span {
          padding-left: 27px;
        }

        span {
          color: #030303;
          font-size: 14px;
          font-weight: 300;
          padding-left: 28px;
        }
      }

      li:hover {
        background-color: #f2f2f2;
        cursor: pointer;
      }

      li.focus {
        background-color: #e5e5e5;
        .icon {
          color: #ff0000;
        }
        span {
          font-weight: 500;
        }
      }

      li.focus:hover {
        background-color: #d9d9d9;
      }
    }

    div.div {
      border-top: 1px solid #e5e5e5;
      margin: 10px 0;
      width: 100%;
    }
    
    div.login {
      display: block;
      margin: 22px 32px;

      span:first-child {
        display: block;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }

  section.main {
    background-color: #f9f9f9;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 58px 0 0 240px;

    // NEED GRID OR SOMETHING!!
    ul.videos {
      display: flex;
      // display: grid;
      grid-gap: 16px;
      // grid-template-columns: repeat(4, 1fr);
      // // grid-template-columns: repeat(auto-fill, 360px);
      margin: 25px;

      li.each-video {
        width: 300px;
        height: 300px;

        div.video-container {
          background-color: black;
          height: 300px * 0.5625;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          video {
            height: 100%;
            width: 100%;
          }
        }

        div.video-info {
          display: flex;
          height: 65px;
          width: 100%;

          div.user-circle {
            background-color: #c2185b;
            border-radius: 100%;
            height: 36px;
            width: 36px;

            span {
              color: white;
              font-size: 20px;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              position: relative;
              // top: 7px;
              // left: 17px;
            }
          }

          div.info {

            span{
              display: block;
            }
            span.title {

            }
            span.uploader {

            }
            span:last-child {

            }
          }
        }
      }
    }
  }
}