section.video-show {
  section.main {
    padding-top: 58px; 
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
    // width: 100vw;
    width: 100%;

    div.left {
      margin: 24px 0 0 36px;
      width: calc(100vw - 510px);

      div.video-container {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc((100vw - 510px) * 0.5625);
        width: calc(100vw - 510px);

        video {
          height: 100%;
          width: 100%;
        }
      }

      div.info {
        border-bottom: 1px solid #e0e0e0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 25px 0;
        min-height: 100px;
        position: relative;

        div.row-1 {
          border-bottom: 1px solid #e0e0e0;
          padding-bottom: 20px;

          span.title {
            display: block;
            font-size: 18px;
            margin-bottom: 16px;
          }
          span:last-child {
            color: #606060;
            font-size: 14px;
          }
        }

        div.row-2 {
          display: flex;
          height: 100px;
          padding-top: 20px;

          div.col-thumbnail {
            height: 100%;
            margin-right: 16px;

            div.user-circle {
              background-color: #c2185b;
              border-radius: 100%;
              height: 50px;
              width: 50px;
              
              span {
                color: white;
                font-size: 30px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                position: relative;
                top: 7px;
                left: 17px;
              }
            }
          }

          div.col-info {
            padding-top: 8px;

            span:first-child {
              display: block;
              font-size: 16px;
              font-weight: bold;
            }
            span:nth-child(2) {
              color: #606060;
              display: block;
              font-size: 14px;
            }
            p {
              margin-top: 20px;
              font-size: 15px;
            }
          }

          div.sub {
            position: absolute;
            right: 10px;

            button {
              background-color: #cc0200;
              border-radius: 2px;
              color: white;
              height: 38px;
              width: 106px;
            }
            .bell {
              color: #909090;
              font-size: 20px;
              position: relative;
              top: 4px;
              padding-left: 16px;
            }
          }
        }
      }
      
      div.comments {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
      }
    }

    div.right {
      min-height: 100%;
      width: 402px;
      margin: 24px 36px 0 0;

      span {
        // remove later, just for sizing
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 200px;
        border: 1px solid red;
      }
    }
  }
}
