div.upload-video-form {
  background-color: #ffffff;
  border-radius: 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 90vh;
  min-height: 500px;
  width: 960px;

  div.p1 > div.header, div.p2 > div.header {
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;

    span {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
      font-weight: 600;
      padding-left: 25px;
    }

    div.icons {
      display: flex;
      padding-right: 25px;

      div {
        color: #737373;
        position: relative;

        .comment-alt {
          font-size: 20px;
          position: relative;
          top: 2px;
        }
        .exclamation {
          color: #ffffff;
          font-size: 8px;
          position: absolute;
          left: 9px;
          top: 6px;
        }
      }

      .times {
        color: #737373;
        font-size: 24px;
        padding-left: 25px;
      }
      .times:hover {
        color: black;
        cursor: pointer;
      }
    }
  }

  div.p1 > div.main {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;

    div.upload-circle{
      background-color: #ebebeb;
      border-radius: 100%;
      cursor: pointer;
      height: 140px;
      width: 140px;
      position: relative;

      .upload {
        color: #949494;
        font-size: 40px;
        position: absolute;
        left: 50px;
        top: 50px;
      }
    }

    div.text {
      span {
        display: block;
        font-size: 14px;
        text-align: center;
        padding-top: 30px;
      }
      span:last-child {
        color: #747474;
        font-size: 13px;
        padding-top: 8px;
      }
    }

    div.file-error {
      margin-top: 20px; 

      .exclamation-triangle {
        color: #cd0200;
      }
      span {
        font-size: 13px;
        padding-left: 15px;
      }
    }

    button {
      background-color: #0a5ed4;
      border-radius: 2px;
      color: #ffffff;
      font-size: 14px;
      height: 38px;
      width: 122px;
      margin-top: 30px;
    }
  }

  div.p1 > div.footer {
    color: #848484;
    font-size: 11px;
    text-align: center;

    p {
      display: block;
      margin-bottom: 8px;

      span {
        color: #0a5ed4;
      }
    }
  }

  div.p2 {
    height: 100%;
    width: 100%;
    position: relative;

    div.main {
      height: 80vh;
      width: 100%;
      overflow-y: auto;
    }

    div.footer {
      border-top: 1px solid #e0e0e0;
      height: 52px;
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div.left {
        display: flex;
        align-items: center;
        margin-left: 20px;

        span:first-child {
          display: inline-block;
          background-color: #085fd4;
          border-radius: 2px;
          color: #ffffff;
          font-size: 10px;
          font-weight: bolder;
          height: 18px;
          width: 18px;
          text-align: center;
          line-height: 1.7;
        }

        span:last-child {
          color: #737373;
          padding-left: 22px;
          font-size: 12px;
        }
      }

      button {
        background-color: #085fd4;
        border-radius: 2px;
        color: #ffffff;
        font-size: 16px;
        height: 38px;
        width: 68px;
        margin-right: 10px;
      }
    }
  }
}

#file {
  display: none;
}